{% extends 'navbar.html' %}
{% block content %}
<div class="container">
	{% for k in seasons %}
		{% with k=k.0%}
			<h2>Stagione Numero {{k.stagione}}</h2>
			<div class="list-group">
				{% for i in k.episodi %}
				<a class="list-group-item list-group-item-action" href="{% url 'WatchSeries:stream_series' i.id  %}">
					{{i.num}} - {{i.title}}
				</a>
				{% endfor %}
		{% endwith %}
	{% endfor %}
	</div>
</div>
{% endblock %}