{% extends 'navbar.html' %}
{% load bootstrap4 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% block content %}
	{% if series %}
		{% if series.has_previous %}
			<a href="?p=1">&laquo; Prima pagina</a>
			<a href="?p={{ movies.previous_page_number }}">Precedente</a>
		{% endif %}
		<div class="album py-5 bg-light">
			<div class="container-fluid text-center">
				<div class="row">
					{% for i in series %}
						<div class="col-md-3">
							<a href="{% url 'WatchSeries:episodes' i.id %}">
								<button type="button" class="btn btn-sm btn-outline-secondary" style="border:none;">
									<div class="card md-3 box-shadow">
										<img class="card-img-top mx-auto" src="{{i.img}}" style="height: 100%; width:95%; display: block;">
									</div>
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
		                					<p class="card-text">
		                						{{ i.title }} / {{i.year}}
		                					</p>
		                				</div>									
									</div>
								</button>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<p class="current text-dark">
			Pagina {{ series.number }} di {{ series.paginator.num_pages }}.
		</p>
		{% if series.has_next %}
			<a href="?p={{ movies.next_page_number }}">Prossima</a>
			<a href="?p={{ movies.paginator.num_pages }}">Ultima Pagina &raquo;</a>
		{% endif %}
	{% else %}
		Nessun Risultato
	{%endif%}
{% endblock %}