{% extends 'navbar.html' %}
{% load bootstrap4 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% block content %}
	<div class="container">
		{% if episode %}
			<h1>Episodio numero {{episode.num}} Stagione {{episode.season}}</h1>
			<video width="800" height="480" poster="{{episode.series.img}}" style="background-color: black !important;" controls>
				<source src="{{link}}" >
				Your browser does not support the video tag.
			</video>
			{% include 'tutorial.html' %}
		{% else %}
			<h2>Episodio non esistente!</h2>
		{% endif %}
	</div>
{% endblock %}