<!DOCTYPE html>
<html>
<head>
	<title>Streaming Server</title>
	{% load bootstrap4 %}
	{% bootstrap_javascript jquery='full'%}
	{% bootstrap_css %}
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'WatchMovie:index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'WatchSeries:series' %}">Serie Tv</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'WatchMovie:search_movie' %}">Tutti i Film</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'AdminPanel:login_admin' %}">Pannello Amministratore</a>
				</li>
			</ul>
		</div>
	</nav><br>
		<div class="container-fluid text-center">
			{% block content %}
			{% endblock %}
		</div>
</body>
</html>