{% load bootstrap4 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <button class="btn btn-outline-secondary" onclick="copy_to_clipboard()" type="button">Clicca per copiare</button>
	  </div>
	  <input type="text" class="form-control" value="{{link}}" id="link" aria-label="" aria-describedby="basic-addon1">
	</div>
<h2>
	<p>
		Se non riesci a vedere il film , hai problemi con la riproduzione ,oppure vuoi vedere il film con un programma migliore,
        apri il programma vlc media player <img src="https://images.videolan.org/images/icons-VLC/vlc.svg" width="30px" height="35px">.
        Dopo aver atteso l'apertura del programma cliccare In alto a sinistra, nella voce <img src="../Images/media.jpg" width="60px" height="25px">.
        Si aprirà un menù a tendina come il seguente:<img src="Images/flusso_rete.jpg" width="260px" height="250px">
        nel quale dovrete cliccare su "apri flusso di rete".
        Ritornate sul questa pagina e cliccate il tasto destro del mouse sul video , premendo su "Copia l'indirizzo del video" oppure su "Copia indirizzo link".
        In quest'ultima fase , dovrete quindi ri-aprire vlc media player <img src="https://images.videolan.org/images/icons-VLC/vlc.svg" width="30px" height="35px"> in cui vi si presenterà una finestra simile :<img src="../Images/url.jpg" width="600px" height="400px">
        nella quale dovrete incollare il link copiato nel riquadro presente della finestra facendo : tasto destro del mouse e incolla(oppure "paste" se si ha una versione inglese del programma).
        Fatto ciò cliccate "Riproduci".
    </p>
</h2>
<script type="text/javascript">
		function copy_to_clipboard() {
		  var copyText = document.getElementById("link");
		  copyText.select();
		  document.execCommand("Copy");
		}
	</script>