{% extends 'navbar.html' %}
{% load bootstrap4 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% block content %}
	<div class="container">
		{% if film %}
			<h1>{{film.title}}{% if film.second_title %} - {{film.second_title}}{%endif%}</h1>
			<video width="800" height="480" poster="{{film.img}}" style="background-color: black !important;" controls>
				<source src="{{link}}">
				Your browser does not support the video tag.
			</video>
			<h3>{{film.runtime}} - {{film.year}}</h3>
			<h4>{{film.plot}}</h4>
			{% include 'tutorial.html' %}
		{% else %}
			<h2>Film non esistente</h2>
		{% endif %}
	</div>
{% endblock %}