 {% extends 'navbar.html' %}
 	{% load bootstrap4 %}
	{% bootstrap_javascript %}
	{% bootstrap_css %}
 {% block content %}
 <form action="{% url 'AdminPanel:login_admin' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
	{% buttons %}
	<button type="submit" class="btn btn-primary">
		Accedi
	</button>
	{% endbuttons %}
    {% if msg %}{% bootstrap_alert msg alert_type='danger' %}{% endif %}
</form>
{% endblock %}