{% extends 'navbar.html' %}
	{% load bootstrap4 %}
	{% bootstrap_javascript %}
	{% bootstrap_css %}
{% block content %}

	<h1>Film</h1>
	<div class="d-inline">
		<div class="col-md-6">
			<h2>Film Inseriti:</h2>
			{% if record_film_inseriti %}
				{% for i in record_film_inseriti %}
					<h3><p>
						{{i.titolo}}
						{% if i.secondo_titolo %} - {{ i.secondo_titolo}}{% endif %}
						{{i.ext}} / 
						{% if i.id_omdb %}
							<font color="green">{{ i.id_omdb }}</font>
						{% else %}
							<font color="red">Nessun id omdb</font>
						{% endif %}
					</p></h3>
				{% endfor %}

			{% else%}
				<h3>Nessuno</h3>
			{% endif %}

		</div>
	</div>

	<div class="d-inline">
		<div class="col-md-6">
			<h2>Film Eliminati</h2>
			{% if record_film_eliminati %}
				{% for i in record_film_eliminati %}
					<font color="red"><h3><p>{{ i.film }}</p></h3></font>
				{% endfor %}

			{% else %}
				<h3>Nessuno</h3>
			{% endif %}
		</div>
	</div>
	{% buttons %}
	<a href="{% url 'AdminPanel:upload_movies' %}">
		<button type="button" class="btn btn-primary">
			Aggiorna Film
		</button>
	</a>
	{% endbuttons %}


	<h2>Aggiunte info</h2>
	{% if arr_movies %}
		{% for i in arr_movies %}
			<h3><p>{{ i.id_imdb}}</p></h3>
		{% endfor %}

	{% else %}
		<h3>Nessuno</h3>
	{% endif %}
	{% buttons %}
	<a href="{% url 'AdminPanel:add_info_movies' %}">
		<button type="button" class="btn btn-primary">
			Aggiorna info Film
		</button>
	</a>
	{% endbuttons %}

	<hr>

	<h1>Serie Tv</h1>
	<div class="d-inline">
		<div class="col-md-6">
			<h2>Serie Aggiunte:</h2>
			{% if serie_aggiunte %}
				{% for i in serie_aggiunte %}
					<h3><p>
						{{ i.titolo }}
						{% if i.id_imdb %}
							<font color="green">{{ i.id_imdb }}</font>
						{% else %}
							<font color="red">Nessun id imdb</font>
						{% endif %}
					</p></h3>
				{% endfor %}

			{% else%}
				<h3>Nessuno</h3>
			{% endif %}

			<h2>Episodi Aggiunti:</h2>
			{% if episodi_aggiunti %}
				{% for i in episodi_aggiunti %}
					<h3><p>Episodio : {{ i.episodio }} - {{ i.titolo }} - Stagione {{ i.stagione }}</p></h3>
				{% endfor %}

			{% else%}
				<h3>Nessuno</h3>
			{% endif %}

		</div>
	</div>

	<div class="d-inline">
		<div class="col-md-6">
			<h2>Serie Eliminate:</h2>
			{% if serie_eliminate %}
				{% for i in serie_eliminate %}
					<font color="red"><h3><p>{{ i.titolo }}</p></h3></font>
				{% endfor %}

			{% else%}
				<h3>Nessuno</h3>
			{% endif %}

			<h2>Episodi Eliminati:</h2>
			{% if episodi_eliminati %}
				{% for i in episodi_eliminati %}
					<font color="red"><h3><p>{{ i.titolo }}</p></h3></font>
				{% endfor %}

			{% else%}
				<h3>Nessuno</h3>
			{% endif %}
		</div>
	</div>
	{% buttons %}
	<a href="{% url 'AdminPanel:upload_series' %}">
		<button type="button" class="btn btn-primary">
			Aggiorna Serie
		</button>
	</a>
	{% endbuttons %}
	

	<h2>Aggiunte info</h2>
	{% if arr_series %}
		{% for i in arr_series %}
			<h3><p>{{ i.id_imdb}}</p></h3>
		{% endfor %}

	{% else %}
		<h3>Nessuno</h3>
	{% endif %}
	{% buttons %}
	<a href="{% url 'AdminPanel:add_info_series' %}">
		<button type="button" class="btn btn-primary">
			Aggiorna info Serie
		</button>
	</a>
	{% endbuttons %}


{% endblock %}